.blue {
	background-color: blue;
}

.yellow {
	background-color: yellow;
}

img {
	width: 350px;
	height: 250px;
	
	
}

.dotted {
	border: 5px dotted black;
}

body {
	position: center;
	margin-left: 5%;
	width: 90%;
	font-size: 2em;
}



.person {
	max-width: 85%;
}